.game-menu {
    order:3;
    margin-left:auto;  
    background-color: rgb(23, 32, 155);
    display: flex;
    flex-direction: column;
    width: 34%;
    padding:20px;
    align-items: center;
    /* justify-content: center;  */   
}

.buttons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-button {
    margin: auto;
    background-color: #811394;
    color: white;
    padding: 16px 32px;
    width: 100%;
    min-width: 250px;
    max-width: 300px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 5px;
}

.game-dropdown-menu {
    display: flex;
    flex-direction: column;
    color: rgb(177, 177, 177);
}

.game-dropdown-component{
    display : flex;
    flex-direction: column;
    margin-top: 3px;
}

.dropdown-button{
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 4px;
    background-color: #aa4fbd;
    color: white;    
    width: 33%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    

}

.dropdown-button:hover{
    background-color: #811394;
}

.select-mode{
    width: 100%;
    min-width: 250px;
    max-width: 300px;
}

@media (max-width: 768px) {
    .game-button {
      width: 100%;
    }
}