.game-board {      
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #2fcc21;  
    aspect-ratio: 1 / 1;  
}

.game-player {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    padding-bottom: 5%;
}

.game-opponent {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 2%;
}

.hand {    
    height: 100px;
    width: 100px;
    background-image: url("../assets/svgs/hand-1.svg");    
}

.player.left {
    transform: scale(-1, 1);
    position: relative;
    z-index: 1;    
}

.player.right {
    position: relative;
    z-index: 1;
}

.opponent {
    height: 80px;
    width: 80px;
    transform: rotate(180deg);

}

.opponent.left {
    transform: rotate(180deg) scale(-1, 1)
}

.dragging {
    border-color: #d1e7bb !important;
}

