.game-menu {
  order: 3;
  margin-left: auto;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  width: 34%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-button {
  margin: auto;
  margin-top: 5px;
  cursor: pointer;

  padding: 1em 2em;
  width: 100%;
  min-width: 140px;
  max-width: 300px;

  background: var(--button-color);
  color: var(--text-color);
  font-size: 20px;

  border: 2px solid var(--button-border);
  border-radius: 0.75em;

  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background-color 150ms cubic-bezier(0, 0, 0.58, 1);
}

.game-button::before {
  /* Adds 3D */
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--button-3d);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--button-border), 0 0.5em 0 0 var(--button-shadow);
  transform: translate3d(0, var(--button-height), -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.game-button:hover {
  background: var(--button-hover);
  transform: translate(0, 0.25em);
}

.game-button:hover::before {
  box-shadow: 0 0 0 2px var(--button-border), 0 0.5em 0 0 var(--button-shadow);
  transform: translate3d(0, 0.25em, -1em);
}

.game-button:active {
  background: var(--button-hover);
  transform: translate(0em, var(--button-height));
}

.game-button:active::before {
  box-shadow: 0 0 0 2px var(--button-hover), 0 0 var(--button-shadow);
  transform: translate3d(0, 0, -1em);
}

.game-button.last {
  margin-top: auto;
  margin-bottom: 3px;
}

.game-button.inactive {
  pointer-events: none;
  background: var(--button-inactive);
  border: 2px solid var(--button-border-inactive);
  transform: translate(0em, var(--button-height));
}

.game-button.inactive::before {
  box-shadow: 0 0 0 2px var(--button-hover), 0 0 var(--button-shadow);
  transform: translate3d(0, 0, -1em);
}

.first {
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .game-button {
    width: 100%;
    min-width: 10px;
    margin: 3px 10px;
  }
  .game-button.last {
    margin: 3px 10px;
  }
  .game-menu {
    width: 100%;
    height: 100%;
    order: 2;
    margin-left: 0;
    padding: 0;
    flex-direction: row;
    padding-top: 10px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
