.background-ch {
  background: #312e2b;
}

.form-control:focus {
  border-color: #fff;
}

.btn.btn-outline.btn-lg.px-5:hover {
  background-color: var(--bg-secondary-highlight) !important;
}

.btn.btn-outline.btn-lg.px-5:active {
  background-color: var(--bg-primary) !important;
}
