* {
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #312e2b;
  --bg-secondary: #272522;
  --bg-secondary-highlight: #3a3936;
  --color-primary: #f1cc53;
  --color-secondary: #fed241;
  --color-primary-border: #bba252;

  --border-board: var(--color-primary-border);
  --background-board: var(--color-primary);

  --text-color: var(--bg-secondary);
  --button-color: var(--color-secondary);
  --button-3d: #e6c467;
  --button-border: var(--color-primary-border);
  --button-shadow: #0f0f0f36;
  --button-hover: var(--color-primary);
  --button-dropdown: #fed241;
  --button-dropdown-hover: var(--bg-secondary);
  --button-inactive: #a2a3a2;
  --button-border-inactive: #585858;
  --button-height: 0.5rem;

  --navbar-icon-color: var(--color-primary);
  --counter-stats: var(--color-primary);

  --transition-speed: 200ms;

  --navbar-size: 4rem;
  --max-breakpoint: 768px;

  --hand-height-big: 230px;
  --hand-width-big: 120px;

  --hand-height-medium: 200px;
  --hand-width-medium: 100px;

  --hand-height-small: 180px;
  --hand-width-small: 90px;

  --hand-height-very-small: 160px;
  --hand-width-very-small: 80px;

  --hand-height-xxs: 130px;
  --hand-width-xxs: 60px;

  --hand0-path: url("/src/assets/imgs/0dx.png");
  --hand1-path: url("/src/assets/imgs/1dx.png");
  --hand2-path: url("/src/assets/imgs/2dx.png");
  --hand3-path: url("/src/assets/imgs/3dx.png");
  --hand4-path: url("/src/assets/imgs/4dx.png");
  --logo-path: url("/src/assets/imgs/logo.png");
  --img0-path: url("/src/assets/imgs/img0.png");
  --img1-path: url("/src/assets/imgs/img1.png");
  --img2-path: url("/src/assets/imgs/img2.png");
  --img3-path: url("/src/assets/imgs/img3.png");
  --img4-path: url("/src/assets/imgs/img4.png");
  --pc-path: url("/src/assets/imgs/pc.png");
  --x-path: url("/src/assets/svgs/x-symbol.svg");
  --x-symbol-red-path: url("/src/assets/svgs/x-symbol-red.svg");
}

:root[data-colors="light"] {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-primary: #282828;
  --text-secondary: #090909;
  --bg-primary: #efefef;
  --bg-secondary: #e2e0e0;
  --bg-secondary-highlight: #d2d3db;
  --color-primary: #2a2a2a;
  --color-secondary: #2a2a2a;
  --color-primary-border: #2b2b2b;

  --navbar-icon-color: var(--color-primary);
  --counter-stats: #acabab;

  --border-board: var(--color-primary-border);
  --background-board: var(--color-primary);

  --text-color: var(--bg-secondary);
  --button-color: var(--color-secondary);
  --button-3d: #7e7e7e;
  --button-border: var(--color-primary-border);
  --button-shadow: #c7c7c736;
  --button-hover: var(--color-primary);
  --button-dropdown: #616161;
  --button-dropdown-hover: var(--bg-secondary);
  --button-inactive: #767676;
  --button-border-inactive: #3c3c3c;
  --button-height: 0.5rem;

  --x-path: url("/src/assets/svgs/x-symbolL.svg");
}

html {
  overflow-y: hidden;
  max-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: var(--bg-primary);
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/*.options-menu{
    /* display: flex;
    flex-direction: column;
    width: 22%; 
    background-color: #242424;   

}*/

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    overflow-x: hidden;
    /* overflow-y: scroll; */
  }
  wrapper::-webkit-scrollbar {
    display: none;
  }
}
