* {
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #312e2b;
  --bg-secondary: #272522;
  --bg-secondary-highlight: #3a3936;
  --background-board: #e47979;
  --border-board: #ffffffcb;
  --transition-speed: 200ms;
  --color-primary: #e47979;

  --navbar-size: 4rem;
  --max-breakpoint: 768px;

  --hand-height-big: 230px;
  --hand-width-big: 120px;

  --hand-height-medium: 200px;
  --hand-width-medium: 100px;

  --hand-height-small: 180px;
  --hand-width-small: 90px;
}

html {
  overflow-y: hidden;
  max-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: var(--bg-primary);
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/*.options-menu{
    /* display: flex;
    flex-direction: column;
    width: 22%; 
    background-color: #242424;   

}*/

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    overflow-x: hidden;
  }
}
