
.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 400ms ease;
  }
.navbar-nav {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

.nav-item {
    width: 100%;
  }
.nav-item:last-child {  /*settings*/
    margin-top: auto;
  }

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
  }

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary-highlight);
    color: var(--text-secondary);
  }
  
.link-text {
    display: none;
    margin-left:1rem;
  }

.nav-link svg{
    max-width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
    filter: grayscale(100%) opacity(0.9);
    transition: var(--transition-speed);
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width:100%;
}

/*schermo piccolo*/
@media only screen and (max-width:768px){
  .navbar{
    top:0;
    width: 100vw;
    height: 4rem;
    position: relative;
  }
  
  .logo{
    display: none;
  }

  .navbar-nav{
    flex-direction: row;
  }

  .nav-link{
    justify-content: center;
  }
}

/*schermo grande*/
@media only screen and (min-width:768px){
  .navbar{
    top:0;
    width: 4rem;
    height: 100vh;    
  }

  .navbar:hover{
    width: 16rem;
  }

.navbar:hover .link-text{
  display: block;
  }
}