.navbar {
  position: absolute;
  background-color: var(--bg-secondary);
  transition: width var(--transition-speed) ease;
  height: 100%;
  width: var(--navbar-size);
  z-index: 9999;
}

.navbar.disabled {
  pointer-events: none;
}

.navbar:hover.link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  height: 80px;
  display: inline-block;
}
.nav-item:last-child {
  /*settings*/
  margin-top: auto;
  /* margin-bottom: 0; */
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  /* position: fixed; */
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary-highlight);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 0.8rem;
  white-space: nowrap;
}

.nav-link svg {
  max-width: 1.5rem;
  min-width: 1.5rem;
  margin: 0 1.25rem;
  transition: var(--transition-speed);
  fill: var(--color-primary);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  margin-right: 3rem;
  transform: rotate(10deg);
}

/*schermo piccolo*/
@media only screen and (max-width: 768px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 10em;
    position: relative;
  }

  .navbar.disabled {
    pointer-events: none;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .nav-item:last-child {
    margin-top: 0;
  }

  .navbar:hover {
    width: auto;
    /* height: 3em; */
  }

  .navbar:hover .link-text {
    display: none;
  }
}

/*schermo grande*/
@media only screen and (min-width: 768px) {
  .navbar {
    top: 0;
    width: 4rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar.disabled {
    pointer-events: none;
  }

  .navbar:hover .link-text {
    display: block;
  }
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(241, 204, 83, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.content {
  z-index: 20;
  position: absolute;
  top: 35%;
  left: 23%;
  background: black;
  width: 50vw;
  padding: 1em 2em;
  border-radius: 4px;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #f1cc53;
  text-decoration: none;
  font-size: 30px;
}
