
.contenitor{
    display: flex;
    align-items: left;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.profile-sx{
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 4rem;
    padding: 1.5rem;
    width: 20%;
    height: 100%;
    background-color:var(--bg-primary);   
}

.profile-sx label{
    color: var(--color-primary);
    font-size: 2.5rem;
}

.profile-img{
    width: 165px; /* Larghezza dell'immagine */
    height: 165px; /* Altezza dell'immagine */
    transform: translate(30%, 15%);
    background-color:var(--color-primary);   
    border-radius: 100px; /* Imposta il bordo circolare */
    overflow: hidden; /* Nasconde le parti dell'immagine che escono dal bordo circolare */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: .3s ease;
}

.profile-img input{ 
    display: none;
}

.-label{
    width: 165px;
    height: 165px;
    cursor: pointer;
}

.-label:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    transition: background-color .2s ease-in-out;
    margin-bottom: 0;
    border-radius: 100px;
  }

  .profile-img span{
    font-size: medium;
    display: inline-flex;
    padding: .3em;
    height: 2em;
  }

.profile-bio{
    display: flex;
    align-items: left;
    flex-direction: column;
}

.profile-bio label{
    color: var(--color-primary);
    font-size: 1.75rem;
    margin-top: 5rem;
}

.profile-bio .bio{
    width: 40vh; /* Larghezza dell'immagine */
    height: 30vh; /* Altezza dell'immagine */
    transform: translate(0%, 25%);
    border: 1px solid var(--color-primary);
    background-color:var(--bg-secondary);   
}

.profile-bio .bio label{
    color: var(--color-primary);
    font-size: 1.3rem;
    padding-left: 3px;
}

.profile-dx{
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 1.5rem;
    padding: 1.5rem;
    width: 80%;
    height: 100%;
    background-color:var(--bg-secondary); 

}

.profile-dx label{
    color: var(--color-primary);
    font-size: 2.5rem;
}


.profile-dx .stats {
    width:100%;
    height: 40%;
    background-color: var(--color-secondary);
    display: flex;
}

.profile-dx .stats .top-wrapper{
   border: 1px solid var(--color-primary);
   width: 80%;
   align-self: center;
   display: flex;
   margin-left: 10%;
   color: var(--color-primary);
}

.profile-dx .stats .top-wrapper .top-container{
    width: 20vw;
    height: 28vmin;
    border: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
 }

 .profile-dx .stats .top-wrapper .top-container i{
    text-align: center;
    color: 1px solid var(--color-primary);
    font-size: 2.5em;
    
 }

.profile-dx .stats .top-wrapper .top-container span.wins{
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 2em;
 }

.profile-dx .stats .top-wrapper .top-container span.wins-text{
    text-align: center;
 }

.profile-dx .recent{
    width:100%;
    height: 60%;
    background-color: var(--color-secondary);
    display: flex;
}

.profile-dx .recent label{
    color: var(--color-primary);
    font-size: 2.5rem;
}


/*
.profile .inputProfile{
    position: relative;
}

.profile .inputProfile input{
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color:#44e500;
    margin-bottom: 1.875rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #44e500;
}

.profile .inputProfile label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color:#44e500;
    pointer-events: none;
    transition: 0.3s;
}

.inputProfile input:focus ~ label,
.inputProfile input:valid ~ label {
  transform: translateY(-1rem);
  font-size: 0.8rem;
  font-weight: bold;
  color:#44e500;
}

.profile input[type="submit"]{
    position: absolute;
    top:5%;
    right: 10%;
    padding: 0.8rem 1rem;
    font-size: 19px;
    color:#000000;
    background-color:#44e500;
    border: 2px solid transparent;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.profile .picture .img input[type="file"]{
    display: none;
}

.img .img-upload{
    position: absolute;
    top:20%;
    left:0%;
    font-size: 50px;
    opacity: 0;
}


*/