
.contenitor{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:#000000;
}
.profile{
    position: absolute;
    padding: 2.5rem;
    height: 100%;
	width: 25%;
	left: 0;
	top: 0;
    box-sizing: border-box;
    border:1px solid #44e500;
    background-color: #000000;
   
}

.picture{
    position: absolute;
    padding: 2.5rem;
    width: 100%;
    height: 75%;
    bottom: 0%;
    left: 0%;
    box-sizing: border-box;
    border:1px solid #44e500;
    background-color: #000000;

}

.picture .img {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border:1px;
    border: solid #44e500;
    background-color: #1c1c1c;
  }

.picture .pfp_label{
    position: absolute;
    top: 0%;
    left:36%;
    bottom:80%;
}

.profile .username label{
    position: absolute;
    top:18%;
    left:12%;
}

.profile .bio {
    width: 250px;
    height: 100px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: #000000;
    color:#44e500;
    border: 1px solid #44e500;
    padding: 20px;
  }

.profile label{
    width: 250px;
    height: 100px;
    position: absolute;
    font-size: 18px;
    top: 53%;
    left: 40%;
    color:#44e500;
}
  
.profile h2{
    color:#44e500;
    font-size: 2.5rem;
    text-align: left;
}

.profile .inputProfile{
    position: relative;
}

.profile .inputProfile input{
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color:#44e500;
    margin-bottom: 1.875rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #44e500;
}

.profile .inputProfile label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color:#44e500;
    pointer-events: none;
    transition: 0.3s;
}

.inputProfile input:focus ~ label,
.inputProfile input:valid ~ label {
  transform: translateY(-1rem);
  font-size: 0.8rem;
  font-weight: bold;
  color:#44e500;
}

.profile input[type="submit"]{
    position: absolute;
    top:5%;
    right: 10%;
    padding: 0.8rem 1rem;
    font-size: 19px;
    color:#000000;
    background-color:#44e500;
    border: 2px solid transparent;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.profile .picture .img input[type="file"]{
    display: none;
}

.img .img-upload{
    position: absolute;
    top:20%;
    left:0%;
    font-size: 50px;
    opacity: 0;
}

.right-container {
    height: 100%;
    width: 75%;
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

.right-container .top-row {
    height: 100%;
    background-color: #000000;
    display: flex;
    font-size: 24px;
    color: #44e500;
}

.right-container .top-row h2{
    position: absolute;
    left: 0%;
}

.right-container .bottom-row {
    height: 100%;
    background-color: #000000;
    display: flex;
    font-size: 24px;
    color: #44e500;
}

.right-container .top-row .top-wrapper{
   border: 1px solid #44e500;
   position: absolute;
   width: 60vw;
   transform: translate(-50%, -50%);
   top: 25%;
   left: 50%;
   display: flex;
}

.right-container .top-row .top-wrapper .top-container{
    width: 20vw;
    height: 28vmin;
    border: 1px solid #44e500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .right-container .top-row .top-wrapper .top-container i{
    text-align: center;
    color: 1px solid #44e500;
    font-size: 2.5em;
 }

 .right-container .top-row .top-wrapper .top-container span.wins{
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 2em;
 }

 .right-container .top-row .top-wrapper .top-container span.wins-text{
    text-align: center;
 }