
.contenitor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    margin-left: 4rem;
}

.contentsx{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100vh;
    background-color: var(--bg-primary);
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    width: 100%;
    height: 60%;
    /*background-color: blue;*/
}

.profile label#Profile{
    color: var(--color-primary);
    font-size: 2.5rem;
}

.profile label#Username{
    color: var(--color-primary);
    font-size: 1.5rem;
}
.click-area{
    width:55%;
    aspect-ratio: 1 / 1;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color:var(--color-primary);   
    overflow: hidden;
    background-size: contain;
    border: 3px solid var(--color-primary);
}

.click-area img {
    width: 100%;
    height: 100%;
  }
  .profile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    border: 2px solid var(--color-primary);
  }
  .profile-modal ul {
    list-style: none;
    display: flex;
    padding:1rem;
  }
  .profile-modal li {
    display: inline-block;
    height: 140px;
    aspect-ratio: 1 / 1;
    margin: 0.5rem;
    cursor: pointer;
  }
.my_file{
    outline: none;
    box-sizing: border-box;
    padding: 50% 30%;
    cursor: pointer;
    transition: 0,5s;
    opacity: 0;
}

.my_file img{
    background-position: center center;
}

.my_file::-webkit-file-upload-button{
    visibility: hidden;
}

.my_file:hover{
    opacity: 0.3;
    background: var(--color-primary);
}

.img-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 30px;
  }
  .close{
    background-image: url("../assets/svgs/x-symbol.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.28rem
  }

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40%;
    /*background-color: rgb(255, 115, 0);*/
}
.bio label#User{
    color: var(--color-primary);
    font-size: 0rem;
}

.areabio{
    color: var(--color-primary);
    padding: 1rem;
    resize: none;
    width: 70%;
    height: 50%;
    aspect-ratio: 2 / 1;
    background-color:var(--bg-secondary);   
    border: 2px solid var(--color-primary);
    
}
.labelbio{
    color: var(--color-primary);
    font-size: 1.3rem;
}


.contentdx{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 100vh;
    background-color:var(--bg-secondary);
}

.stats{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.stats label#Stats{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;

}
.stats .top-wrapper{
    border: 1px solid var(--color-primary);
    width: 80%;
    align-items: center;
    display: flex;
    color: var(--color-primary);
 }
 
.stats .top-wrapper .top-container{
     width: 30vw;
     height: 28vmin;
     border: 1px solid var(--color-primary);
     display: flex;
     flex-direction: column;
     justify-content: space-around;
  }
 
 .stats .top-wrapper .top-container i{
     text-align: center;
     color: 1px solid var(--color-primary);
     font-size: 2.5em;
     
  }
 
.stats .top-wrapper .top-container span.wins{
     display: grid;
     place-items: center;
     font-weight: 600;
     font-size: 2em;
  }
 
 .stats .top-wrapper .top-container span.wins-text{
     text-align: center;
  }
 
.recent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.recent label#Recent{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
}

.recent .recent-game-container {
    width: 100%;
  }

@media only screen and (max-width: 767px) {
    .navbar {
        height: 4em;
      }
    .contenitor{
        flex-direction: column;
        margin-left:0;
    }
    .contentsx{
        flex-direction: row;
        width: 100%;
        height: 30%;
    }
    .profile{
        padding-top: 0;
        width: 30%;
        height: 100%;
    }
    .profile label#Profile{
        color: var(--bg-secondary);
        font-size: 0rem;
    }
    
    .profile label#Username{
        color: var(--bg-secondary);
        font-size: 0rem;
    }
    .click-area{
        width:70%;
        margin:auto;
        aspect-ratio: 1 / 1;
        background-color:var(--bg-secondary);   
        overflow: hidden;
    }
    
      .profile-modal ul {
        padding:0.5rem;
      }
      .profile-modal li {
        height: 55px;
        margin: 0.1rem;
      }
    .bio{
        width: 70%;
        height: 100%;
    }
    .areabio{
        width:70%;
        height: 15%;
        aspect-ratio: 6 / 1;
        background-color:var(--bg-secondary);   
    }
    .labelbio{
        color: var(--bg-secondary);
        font-size: 0.5rem;
    }
    
   .areabio label#Bio{
        color: var(--color-primary);
        font-size: 1rem;
    }

    .bio label#User{
        color: var(--bg-secondary);
        font-size: 1.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .contentdx{
        width: 100%;
        height: 70%;
    }
    .stats{
        width: 100%;
        height: 40%;
    }
    
    .stats label#Stats{
        color: var(--color-primary);
        font-size: 1.5rem;
        margin-top:1%;
        margin-bottom: 1%;
    }
    .stats .top-wrapper{
        margin: auto;
        border: 0.5px solid var(--color-primary);
        width: 90%;
     }
     
    .stats .top-wrapper .top-container{
         width: 100%;
         height: 25vmin;
         border: 0.5px solid var(--color-primary);
      }
     
     .stats .top-wrapper .top-container i{
         text-align: center;
         color: 1px solid var(--color-primary);
         font-size: 2.5em;
         
      }
     
    .stats .top-wrapper .top-container span.wins{
         font-weight: 200;
         font-size: 1em;
      }
    .recent label#Recent{
        color: var(--color-primary);
        font-size: 1.5rem;
        margin-top: 5%;
        margin-bottom: 1%;
    
    }
}

